@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

body, .appDiv {
  background-color:  bisque;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.pageTitle{
  margin-top: 30px;
  margin-bottom: 40px;
}

.image-container {
  position: relative;
  width: 100%; /* You might adjust this based on your design */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: -1;
}

/* .tagOnImg {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.8);
  padding: 10px; 
  border-radius: 5px; 
  text-align: center;
  
} */

/* Header & Footer */
.navbar.navbar-light{
  background-color: burlywood;
}

#brandName{
  font-size: 34px;
  font-weight: bold;
  color: #5a2a1f;
}

.nav-item.active {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav .nav-item.active .nav-link {
  color: #6C3428; 
  transition: color 0.3s; 
}

.navbar-nav .nav-item.active .nav-link:hover {
  color:  #ba3e19; 
  font-weight: bold;
}

.btn.btn-secondary, 
.btn.btn-secondary.dropdown-toggle {
  background-color:#6C3428 ;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.btn.btn-secondary:hover{
  background-color: #ba3e19;
}

#brandTagline{
  font-size: 24px;
  color: #5a2a1f;
}

.container-md p{
  margin-top: 20px;
}

/* Homepage */

.main-content {
  background-color: bisque;
  justify-content: center;
  margin: 0;
  flex: 1;
  min-height: calc(100vh - (headerHeight + footerHeight)); 
}

#mainImg {
  display: block;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

.home-table-container {
  max-width: 705px; 
  margin: 0 auto; 
  padding: 20px; 
}

.row {
  display: flex; 
  justify-content: space-between; 
}

.col {
  text-align: center; 
  font-size: 16px;
  font-weight: bold;
  color: #6C3428;
  cursor: pointer;
}

.productTitle{
  font-size: 12px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Products Overview */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 1.1em auto;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background-color: transparent;
}

/* Search Bar on Products Overview page */
.searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchBtn{
  background-color:#6C3428;
  border: none;
}

.btn-group .btn{
  white-space: nowrap;
  color: #6C3428;
}

.btn-group .btn:hover {
  background-color: #6C3428; 
  color: white; 
}

#filter{
  white-space: nowrap;
  margin-right: 5px;
}

/* Product Box */
.box {
  box-sizing: border-box;
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: grid;
  place-items: center;
}

.box img {
  max-width: 100%;
  max-height: 250px;
}

.box div {
  text-align: center;
  padding: 1em;
  background-color: white;
  margin-bottom: 1.5em;
}

/* ProductDetails */

.LR-display {
  display: flex;
}

#detailLeftDiv{
  background-color: white;
  margin-right: 60px;
  margin-bottom: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#detailRightDiv{
  margin-bottom: 50px;
}

#detailLeftDiv,
#detailRightDiv {
  flex: 1;
}

.brandAndCategory{
  font-weight: normal;
}  

.model, .price{
  color: #6C3428;
}

.desc {
  font-size: 10pt;
}

.tag{
  margin-right: 10px;
}

.highlightText {
  color: red;
  font-weight: bold;
}

.detailImg {
  width: 310px;
  /* Set the desired width */
  height: 220px;
  /* Set the desired height */
  object-fit: cover;
  /* This property ensures the image retains its aspect ratio and covers the entire box */
}

.btn.btn-primary{
  background-color: #6C3428;
  border:none;
  margin-bottom: 30px;
}

.btn.btn-primary.btn-sm{
  margin-top: 0;
  margin-bottom: 0;
}

.btn.btn-primary:hover, .btn.btn-primary.btn-sm:hover {
  background-color:  #ba3e19; 
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px; 
}

.input-button-container {
  display: flex;
  align-items: center;
  gap: 0px; 
}

.popImg {
  cursor: pointer;
  width: 155px;
  /* Set the desired width */
  height: 155px;
  /* Set the desired height */
  object-fit: cover;
  /* This property ensures the image retains its aspect ratio and covers the entire box */
}

/* Shopping Cart */
.subHeader{
  color: #6C3428;
  margin-bottom: 15px;
  font-size: 20px;
}

#emptyCart{
  margin-bottom:350px;
}

.itemQuantity, .itemPrice{
  text-align: center;
}

.cartBtn{
  border: none;
  background-color: transparent;
  color: #b15742;
}

.newQtyInput{
  text-align: center;
  width: 50px;
}

#col1{
  width: 40%;
}

#col2, #col3, #col4{
  width: 20%;
}

.shorterInput {
  width: 56px;
}

.table {
  border-radius: 10px; /* You can adjust the value to your preference */
  overflow: hidden; /* This prevents the borders from extending beyond the rounded corners */
}

/* LoginPage */

#login-title{
  text-align: center;
}

.container-md-login {
  display: flex;
  justify-content: center; 
}

.login-container {  
  box-sizing: border-box;
  background: white;
  padding: 20px;
  border-radius: 10px;
  place-items: center;
  margin-top: 30px;
  margin-bottom:30px;
  width: 40%;
  align-items: center;
}

.form-group, .form-group-btn{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-group-btn{
  display: flex;
  justify-content: center;
}

.list-table{
  margin-top: 40px;
  margin-bottom: 20px;
}

#col4{
  width: 40%;
}

#col5, #col6{
  width: 20%;
}